<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.testcompany.com.appoftheyear">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/zedlogo"
        android:label="Zalirin"
        android:roundIcon="@mipmap/zedlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".menu" />
        <activity android:name=".ChooseGame" />
        <activity android:name=".ChooseMode" />
        <activity android:name=".ChooseHangman" />
        <activity android:name=".ChooseWordguess" />
        <activity android:name=".ChooseAnagram" />
    </application>

</manifest>
